version: '3.8'

services:
  mongo:
    image: mongo
    container_name: ecommerce-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  app:
    build: .
    container_name: ecommerce-app
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: "mongodb://mongo:27017/ecommerce"
      PORT: 5000
    depends_on:
      - mongo

volumes:
  mongo-data:
